* {
  margin: 0;
  padding: 0;
}

.card-container {
  margin-top: 20px;
  display: flex;
  justify-content: center;
  flex-direction: column;
}

.container {
  padding-left: 20px;
  padding-right: 20px;
}

.header__container {
  position: relative;
  z-index: 2;
}

.header__form {
  text-align: center;
}

header {
  position: relative;
  padding-top: 40px;
  padding-bottom: 92px;
  background-image: url(../images/bg_header.jpg);
  background-size: cover;
  z-index: 1;

  &::after {
    content: ' ';
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    background: rgba(0, 0, 0, 0.56);
  }
}

.header__nav {
  display: flex;
  justify-content: space-between;
  align-items: center;
  margin-bottom: 54px;
}

img {
  max-width: 100%;
}

a {
  text-decoration: none;
  color: white;
}

ul {
  list-style: none;
  display: flex;
}

li:not(:last-child) {
  margin-right: 40px;
}

.active {
  border-bottom: 2px solid #ff6b08;
}

.input {
  width: 100%;
  height: 20px;
  margin-bottom: 16px;
  border: none;
  border-bottom: 0.5px solid #ffffff;
  color: #fff;
  background-color: transparent;

  &::placeholder {
    color: #fff;
  }
}

.request__result {
  font-family: 'Roboto';
  font-style: normal;
  font-weight: 400;
  font-size: 14px;
  line-height: 16px;
  display: flex;
  align-items: center;

  opacity: 0;
  color: #cc091d;
}
